body{
    background-image: linear-gradient(to bottom right, #014871, #D7EDE2);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 669px;
    overflow-x: hidden;
}

header{
    background-color: rgb(0, 57, 110);
    height: 50px;
    margin: -8px -8px 0 -8px;
    overflow: hidden;
    width: auto;
}

h2{
    display: inline-block;
    font-family: cursive;
    font-size: 26px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 6px 0 0 8px;
    text-indent: 8px;
    word-spacing: -2px;
}

 header ul{
    bottom: 5px;
    display: inline-block;
    padding: 0 0 0 0;
    position: relative;
 }

header ul li{
    background-color: #ddd;
    border: 3px solid aquamarine;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    margin: 0 0 4px 10px;
    width: 80px;

}

header ul li:hover{
    border: 4px dashed greenyellow;
    background-color: cyan;
    transition-duration: 0.7s;
}

header ul li a :hover{
    color: rgb(52, 255, 16);
}

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}


.home{
    margin: 0 0 0 720px;
    padding: 0 0 0 15px;
    width: 60px;
}

.skills{
    padding: 0 0 0 12px;
    width: 55px;
}

.contact{
    padding: 0 0 0 8px;
    width: 68px;
}

h1{
    display: inline-block;
    font-size: 35px;
    font-weight: 800;
    margin: 40px 0 0 15px;
}

div ul{
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    word-spacing: 4px;
}

img{
    height: 200px;
    margin: -5px 0 0 50px;
    width: 300px;
}