body{
    background-image: linear-gradient(to bottom right, #014871, #D7EDE2);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 669px;
    overflow-x: hidden;
}

header{
    background-color: rgb(0, 57, 110);
    height: 50px;
    margin: -8px -8px 0 -8px;
    overflow: hidden;
    width: auto;
}

h2{
    display: inline-block;
    font-family: cursive;
    font-size: 26px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 6px 0 0 8px;
    text-indent: 8px;
    word-spacing: -2px;
}

 header ul{
    bottom: 5px;
    display: inline-block;
    padding: 0 0 0 0;
    position: relative;

}

header ul li{
    background-color: #ddd;
    border: 3px solid aquamarine;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    margin: 0 0 4px 10px;
    width: 80px;

}

header ul li:hover{
    border: 4px dashed aquamarine;
    background-color: black;
    color: white;
    transition-duration: 0.7s;
}

header ul li:hover a{
    color: rgb(255, 0, 0);
    font-size: 40px;
}
/* does not work WHY ???? */

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}


.skills{
    margin: 0 0 0 720px;
    padding: 0 0 0 16px;
    width: 60px;
}

.certs{
    width: 94px;
}

.contact{
    width: 60px;
}
div{
    margin: 175px 0 0 130px;
}

h1{
text-indent: -1px;
}

p{
    font-size: 18px;
    font-weight: 800;
    line-height: 38px;
    word-spacing: 0px;
}